:local .header {
	position:fixed;
	color: white;
	font-size: 12px;
	font-weight: 700;
	background-color: #2e2f31;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 46px;
	text-transform: uppercase;
	line-height: 46px;
	padding-left: 40px;
}

:local .logo {
	color: #28ad78;
	margin-right: 10px;
	font-size: 13px;
}
