:local .timezone {
	background-color: #2e2e30;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.75);
}


:local .name {
	font-size: 14px;
	font-weight: 700;
	color: #23a96e;
	height: 40px;
	line-height: 40px;
}

:local .time {
	height: 40px;
	text-align: center;
	font-size: 26px;
	background-color: #23a96e;
}

:local .button {
	height: 40px;
	padding: 0;
	text-align: center;
	line-height: 40px;
	color: #717171;
	background-color: #2e2e30;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
}

:local .button:hover {
	background-color: #d7404f;
	color: white;
}

@media (max-width: 970px) {
	:local .timezone, :local .button {
		border-radius: 0;
	}
}
